.apply {
  background-image: url(./bg-apply.webp);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;

  &__title {
    margin-top: 100px;
    font-size: 3em;
    color: #fff;
  }
}
.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;

  &__item {
    width: 100%;
    max-width: 400px;
  }
  &__item > a {
    font-size: 1.6em;
    font-weight: 300;
    color: #fff;
    background-color: #4accca;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    transition: 0.2s ease;
  }
  &__item:first-child > a {
    padding: 25px;
    font-weight: 700;
  }
  &__item > a:hover {
    background-color: #42b6b4;
  }
}
