.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__title {
    font-size: 2.5em;
    color: #464646;
    max-width: 500px;
    text-align: center;
    margin: 0;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  &__mail {
    display: block;
    width: 100%;
    text-align: center;
    margin: 50px 0;
    font-size: 2.5em;
    color: #464646;
    text-decoration: underline;
    font-weight: 300;
  }
  &__list {
    font-size: 2em;
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    max-width: 350px;
    margin-bottom: 50px;
  }
  @media (max-width: 680px) {
    &__title {
      max-width: 300px;
      font-size: 2em;
    }
  }
}
