#footer {
  display: flex;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #636363;

  img {
    max-width: 200px;
    padding-left: 50px;
  }

  .footer__copyright {
    color: whitesmoke;
    font-size: 1.1em;
    font-weight: 300;
    margin-left: 40%;
    transform: translateX(-50%);
  }
}
